@import '../../../constants/colors';
.headerWrapper {
  min-height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $white;

  & .container {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }

    & .user {
      min-width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      & .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      & span {
        font-size: large;
        color: $polarGray;
      }
    }

    & .status {
      width: 58px;
      font-size: medium;
      font-weight: normal;
      color: $polarGray;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .light {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $seaGreen;
      }

      & .statusText {
        line-height: 0.8;
      }
    }

    & .logoutButton {
      width: 80px;
      height: 30px;
      color: $white;
      background-color: $oceanBlue;
      border: none;
      border-radius: 22px;
      font-size: medium;
      font-weight: normal;
      cursor: pointer;
    }
  }
}