@import 'src/constants/colors';
.chatPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background-color: $lightBlue;

  & .chatPageContainer {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
  }
}