@import 'src/constants/colors';
.chatPageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background-color: $warmGray;

  & .box {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .chatPageContainer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: $white;
      border-radius: 10px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    & .link {
      margin-bottom: 1.5%;
      height: 20px;
      display: flex;
      align-items: center;
      color: $coolGray;
      text-decoration: none;

      & span {
        margin-left: 4px;
      }

      &:hover {
        color: $oceanBlue;
      }
    }
  }
}