@import 'src/constants/colors';
@import 'src/constants/displaySizes';
.chatListWrapper {
  margin-top: 5%;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & .chatListContainer {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $medium){
      width: 80%;
    }
    @media screen and (min-width: $medium){
      width: 50%;
    }
    @media screen and (min-width: $large){
      width: 40%;
    }
    @media screen and (min-width: $xLarge){
      width: 33%;
    }
  }

  & .chat {
    position: relative;

    & .removeButton {
      position: absolute;
      top: 23%;
      right: 3%;
      z-index: 1;
      height: 34px;
      width: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: none;
      cursor: pointer;

      & .buttonIcon {
        width: 100%;
        height: 100%;
        color: $white;
      }
    }
  }
}