$black: #000000;
$midnightBlack: #222;
$midnightSandGray: #303030;
$midnightGray: #444;
$mediumGray: #484848;
$davyGray: #555;
$darkGray: #666;
$coolGray: #737373;
$polarGray: #808080;
$purplishGray: #9293a2;
$warmGray: #f3f2ef;
$lightGray: #d3d3d3;
$darkWhite: #e6e6e6;
$foggyWhite: #F5F5F5;
$white: #fff;
$lightBlue: #eafaff;
$oceanBlue: #3B878C;
$festiveGreen: #008966;
$crayolaGreen: #01bb8c;
$aquaPool: #00BC8C;
$seaGreen: #00efb2;
$purple: #c850c0;
$deepPurple: #668;
$violet: #4158d0;
$indigo: #4b0082;
$red: #CC0605;
